/* ====== Web ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  background:#000000;
}

/* ===== scrollbar ===== */
::-webkit-scrollbar{
  width: 8px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb{
  background: #ffffff;
  border-radius: 6px;
}

/* ====== Navbar ====== */
header {
  position: absolute;
  background-color: #000000;
  margin-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #000000;
}

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .container {
      width: 400px;
      height: 400px;
      background-color: whitesmoke;
      border-radius: 6px;
      padding: 20px;
      flex-direction: column;
    }
    
    label {
      display: flex;
      margin-bottom: 10px;
    }
    
    input[type="text"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    select {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    button {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
     #result {
          margin-top: 20px;
          font-weight: bold;
        }
